/*Column One (Left most side) */
.TicketSearchMenu{
    float: left;
    width: 10%;
    border: 1px solid whitesmoke;
}

/*Column Two (Beside Colomn One, rest of the space)*/
.TicketTableColumn{
    float: right;
    width: 88%; /* Leave ~2% for border widths ect.*/
}

.ticketInput{
    width: 100%; /* Prevents an awkward interaction with a scroll bar when unnecessary*/
}

.ticketTable, .ticketHeader{
    border: 1px solid whitesmoke;
}

.ticketCommentCellEven{
    border: 1px solid whitesmoke;
    max-width: 180px;
    max-height: 90px;
    min-height: 60px;
    overflow: auto;
    text-align: center;
    resize: both;
}
.ticketCommentCellOdd{
    border: 1px solid whitesmoke;
    max-width: 180px;
    max-height: 90px;
    min-height: 60px;
    overflow: auto;
    text-align: center;
    resize: both;
    background-color: black;
}
.ticketCellOdd{
    border: 1px solid whitesmoke;
    max-width: 180px;
    max-height: 90px;
    min-height: 60px;
    overflow: auto;
    text-align: center;
    background-color: black;
}
.ticketCellEven{
    border: 1px solid whitesmoke;
    max-width: 180px;
    max-height: 90px;
    min-height: 60px;
    overflow: auto;
    text-align: center;
}
/*input boxes*/
.searchInput {
    color: whitesmoke;
    width: 100%;
    height: 25px;
    background: #292929;
    padding: 0 5px 0 38px;
    border: 1px solid whitesmoke;
}
